<div id="<%= dom_id waitlist %>">
  <p>
    <strong>Name:</strong>
    <%= waitlist.name %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= waitlist.business_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= waitlist.email %>
  </p>

  <p>
    <strong>Market:</strong>
    <%= waitlist.market %>
  </p>

  <p>
    <strong>Customer base:</strong>
    <%= waitlist.customer_base %>
  </p>

  <p>
    <strong>Enable customers:</strong>
    <%= waitlist.enable_customers %>
  </p>

  <p>
    <strong>Challenges:</strong>
    <%= waitlist.challenges %>
  </p>

</div>
